<ion-header>

  <ion-navbar>
    <ion-title>Cardápio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      
    <div padding class="Menu">
      <ion-chip *ngFor="let categoria of categorias" (click)="carregaProdutos(categoria)" >
        <ion-label color="dark">{{ categoria.caracteristica }}</ion-label>
      </ion-chip>    
    </div>

    <div padding class="Menu">
      <!-- <ion-item-divider color="light"> 
        <h2>{{categoriaSelecionada.caracteristica}}</h2>
      </ion-item-divider> -->
      <ion-list>
        <ion-item style="overflow-x: auto;" *ngFor='let produto of produtos' (click)="sobreProdutoCardapio(produto)">
          <ion-thumbnail item-start>
            <img [src]="'data:image/JPEG;base64,' + produto.imagem" />
          </ion-thumbnail>
          <h3> {{produto.nome}}</h3>
        </ion-item>
      </ion-list>
    </div>

</ion-content>
