page-configuracoes {
    .opcoes {
      align-items: center;
      margin-top: 25%;
    }
  
    .opcoes > div > button {
      text-justify: auto;
      text-decoration-style: none;
      text-transform: none;
      border-radius: 5%;
    }
  
    .item-opcoes > button {
      width: 100%;
      height: 3.8em;
    }
}
