page-sobre-item-cardapio {

    div{
        margin-top: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    img{
        height: auto;
    }


}
