page-sobre {
    .caixa-centro {
        margin-top: 5%;
        text-align: left;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .caixa-centro > footer {
        font-weight: bold;
        color: gray;
    }
}
